<footer class="section section-primary hidden-xs" style="background-color: #676766 !important; font-size: 12px;">
    <div style="background-color: #373459; height: 20px;"></div>
    <div class="container" style="background-color: #676766 !important;">
        <div class="row" style="margin-bottom: 5px;">
            <div class="col-sm-4" style="line-height: 21px;">
                <div style="font-size: 14px; font-weight:700;">Contact Us</div>
                <div class="footerLink">American Punch Company</div>
                <div class="footerLink">1655 Century Corners Parkway</div>
                <div class="footerLink">Euclid, Ohio 44132</div>
                <div style="padding-top: 15px;" class="footerLink">Phone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.800.243.1492</div>
                <div class="footerLink">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:sales@AmericanPunchCo.com" class="footerLink">sales@AmericanPunchCo.com</a></div>
                <div style="padding-top: 15px;" class="footerLink">Copyright © 2015, American Punch Co. All rights reserved.</div>
            </div>
            <div class="col-sm-2" style="line-height: 21px;">
                <div style="font-size: 14px; font-weight:700;">Find Us on the Web</div>
                <div class="footerIcons"><img src="images/FB.png" alt="FaceBook" /><a href="#" class="footerLink"> Facebook</a></div>
                <div class="footerIcons"><img src="images/YouTube-Logo.png" alt="YouTube" /><a href="#" class="footerLink"> YouTube</a></div>
                <div class="footerIcons"><img src="images/linkedin-icon.png" alt="LinkedIn" /><a href="#" class="footerLink"> LinkedIn</a></div>
                <div class="footerIcons"><img src="images/App-Button.png" alt="App Store / Google Play" /><a href="#" class="footerLink"> App Store</a>/<a href="#" class="footerLink">Google Play</a></div>
            </div>
            <div class="col-sm-2" style="line-height: 21px;">
                <div style="font-size: 14px; font-weight:700;">Ironworker Tooling</div>
                <div style="padding-top: 8px;"><a href="#" class="footerLink">Standard Punches and Dies</a></div>
                <div><a href="#" class="footerLink">Shear Blades</a></div>
                <div><a href="#" class="footerLink">Coupling Nuts</a></div>
                <div><a href="#" class="footerLink">Punch Stems and Die Holders</a></div>
                <div><a href="#" class="footerLink">Special Purpose Tooling</a></div>
                <div><a href="#" class="footerLink">Punch Options</a></div>
                <div><a href="#" class="footerLink">Die Options</a></div>
                <div><a href="#" class="footerLink">Punching Tips</a></div>
            </div>
            <div class="col-sm-2" style="line-height: 21px;">
                <div style="font-size: 14px; font-weight:700;">Other Products</div>
                <div style="padding-top: 8px;"><a href="#" class="footerLink">Annular Cutters</a></div>
                <div><a href="#" class="footerLink">Drills</a></div>
                <div><a href="#" class="footerLink">Punching Machines</a></div>
                <div><a href="#" class="footerLink">Mag Drills</a></div>
            </div>
            <div class="col-sm-2" style="line-height: 21px;">
                <div style="font-size: 14px; font-weight:700;">Precision Tooling</div>
                <div style="padding-top: 8px;"><a href="#" class="footerLink">Custom Die Components</a></div>
                <div><a href="#" class="footerLink">Ball Lock Punches</a></div>
                <div><a href="#" class="footerLink">Headed Punches</a></div>
                <div><a href="#" class="footerLink">Die Buttons</a></div>
                <div><a href="#" class="footerLink">Retainers</a></div>
            </div>
        </div>
        <div class="row" style="margin: 5px 0px !important;">
            <div class="col-sm-12">
                <div style="font-size: 14px; font-weight:700; text-align: center; padding-bottom: 25px;">
                    <hr /><br />
                    <img src="images/logos.png" />
                </div>
            </div>
        </div>
    </div>
</footer>