.shapeButtonContainer {
    display: flex;
    flex-direction: row;
}

.selected {
    border: 1px solid yellow;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 12px;
}

.shapeSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.squareInput {
    position: relative;
    bottom: 110px;
    right: 120px;
}

.rectLength{
    position: relative;
    bottom: 50px;
    right: 10px;
}

.rectResult{
        position: relative;
    bottom: 240px;
    left: 75px;
}

.hexInput{
    position: relative;
    right: 55px;
    bottom: 40px;
}

.hexResult{
    position: relative;
    left: 100px;
    bottom: 200px;
}

.rectWidth{
        position: relative;
    right: 141px;
    bottom: 105px;
}
.selectContainer{
    display:flex;
    align-items: baseline;
}

.squareResult {
    position: relative;
    bottom: 180px;
    left: 60px;
}

.whiteText {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
}

.yellowText {
    color: yellow;
    font-family: sans-serif;
    font-size: 18px;
}

