<link rel="stylesheet" type="text/css" href="./diagonal/diagonal.css">
<div ng-controller="diagonalController as vm" class="grad" style="margin: 0 0; padding: 0;">

    <img ng-class="vm.buttonClass('Square')" ng-click="vm.shape = 'Square'" src="./images/btnSquareDiagonal.png" />
    <img ng-class="vm.buttonClass('Rectangle')" ng-click="vm.shape = 'Rectangle'" src="./images/btnRectangleDiagonal.png" />
    <img ng-class="vm.buttonClass('Hexagon')" ng-click="vm.shape = 'Hexagon'" src="./images/btnHexDiagonal.png" />

    <!--<select id="squareHoleSize" ng-model="vm.shape" style="padding: 2px; height: 25px;">
        <option value='Square'>Square</option>
        <option value='Rectangle'>Rectangle</option>
        <option value='Hexagon'>Hexagon</option>
    </select>-->

    <div class="shapeSelection" ng-show="vm.shape=='Square'">
        <img src="./images/squareDiagonal.png" />
        <div class="squareResult yellowText">
            {{vm.calcSquare(vm.squareSize)}}
        </div>

        <div class="squareInput yellowText">
            {{vm.squareSize}}
        </div>

        <div class="selectContainer">
            <div class="whiteText">Size:</div>
            <select ng-model="vm.squareSize" ng-class="{notSelected: rectangleWidth.length == 0}">
                <option value='SIZE'>SELECT</option>
                <option value='.125'>1/8 </option>
                <option value='.15625'>5/32 </option>
                <option value='.1875'>3/16 </option>
                <option value='.21875'>7/32 </option>
                <option value='.25'>1/4 </option>
                <option value='.28125'>9/32 </option>
                <option value='.3125'>5/16 </option>
                <option value='.34375'>11/32 </option>
                <option value='.375'>3/8 </option>
                <option value='.40625'>13/32 </option>
                <option value='.4375'>7/16 </option>
                <option value='.46875'>15/32 </option>
                <option value='.5'>1/2 </option>
                <option value='.53125'>17/32 </option>
                <option value='.5625'>9/16 </option>
                <option value='.59375'>19/32 </option>
                <option value='.625'>5/8 </option>
                <option value='.65625'>21/32 </option>
                <option value='.6875'>11/16 </option>
                <option value='.71875'>23/32 </option>
                <option value='.75'>3/4 </option>
                <option value='.78125'>25/32 </option>
                <option value='.8125'>13/16</option>
                <option value='.875'>7/8 </option>
                <option value='.90625'>29/32 </option>
                <option value='.9375'>15/16 </option>
                <option value='.96875'>31/32 </option>
                <option value='1.0'>1 </option>
                <option value='1.03125'>1-1/32 </option>
                <option value='1.0625'>1-1/16 </option>
                <option value='1.09375'>1-3/32 </option>
                <option value='1.125'>1-1/8 </option>
                <option value='1.15625'>1-5/32 </option>
                <option value='1.1875'>1-3/16 </option>
                <option value='1.21875'>1-7/32 </option>
                <option value='1.25'>1-1/4 </option>
                <option value='1.28125'>1-9/32 </option>
                <option value='1.3125'>1-5/16 </option>
                <option value='1.34375'>1-11/32 </option>
                <option value='1.375'>1-3/8 </option>
                <option value='1.40625'>1-13/32 </option>
                <option value='1.4375'>1-7/16 </option>
                <option value='1.46875'>1-15/32 </option>
                <option value='1.5'>1-1/2 </option>
                <option value='1.53125'>1-17/32 </option>
                <option value='1.5625'>1-9/16 </option>
                <option value='1.75'>1-3/4 </option>
                <option value='2.0'>2 </option>
                <option value='3.0'>3 </option>
                <option value='4.0'>4 </option>
            </select>
        </div>
    </div>

    <div class="shapeSelection" ng-show="vm.shape == 'Rectangle'">
        <img src="./images/rectDiagonal.png" />
        <div class="rectWidth yellowText">
            {{vm.rectangleWidth}}
        </div>
        <div class="rectLength yellowText">
            {{vm.rectangleLength}}
        </div>
        <div class="rectResult yellowText">
            {{vm.calcRectangle(vm.rectangleWidth, vm.rectangleLength)}}
        </div>
        <div class="selectContainer">
            <div class="whiteText">Width: </div>
            <select id="rectangleWidth" ng-model="vm.rectangleWidth">
                <option value='WIDTH'>SELECT</option>
                <option value='.125'>1/8 </option>
                <option value='.15625'>5/32 </option>
                <option value='.1875'>3/16 </option>
                <option value='.21875'>7/32 </option>
                <option value='.25'>1/4 </option>
                <option value='.28125'>9/32 </option>
                <option value='.3125'>5/16 </option>
                <option value='.34375'>11/32 </option>
                <option value='.375'>3/8 </option>
                <option value='.40625'>13/32 </option>
                <option value='.4375'>7/16 </option>
                <option value='.46875'>15/32 </option>
                <option value='.5'>1/2 </option>
                <option value='.53125'>17/32 </option>
                <option value='.5625'>9/16 </option>
                <option value='.59375'>19/32 </option>
                <option value='.625'>5/8 </option>
                <option value='.65625'>21/32 </option>
                <option value='.6875'>11/16 </option>
                <option value='.71875'>23/32 </option>
                <option value='.75'>3/4 </option>
                <option value='.78125'>25/32 </option>
                <option value='.8125'>13/16</option>
                <option value='.875'>7/8 </option>
                <option value='.90625'>29/32 </option>
                <option value='.9375'>15/16 </option>
                <option value='.96875'>31/32 </option>
                <option value='1.0'>1 </option>
                <option value='1.03125'>1-1/32 </option>
                <option value='1.0625'>1-1/16 </option>
                <option value='1.09375'>1-3/32 </option>
                <option value='1.125'>1-1/8 </option>
                <option value='1.15625'>1-5/32 </option>
                <option value='1.1875'>1-3/16 </option>
                <option value='1.21875'>1-7/32 </option>
                <option value='1.25'>1-1/4 </option>
                <option value='1.28125'>1-9/32 </option>
                <option value='1.3125'>1-5/16 </option>
                <option value='1.34375'>1-11/32 </option>
                <option value='1.375'>1-3/8 </option>
                <option value='1.40625'>1-13/32 </option>
                <option value='1.4375'>1-7/16 </option>
                <option value='1.46875'>1-15/32 </option>
                <option value='1.5'>1-1/2 </option>
                <option value='1.53125'>1-17/32 </option>
                <option value='1.5625'>1-9/16 </option>
                <option value='1.75'>1-3/4 </option>
                <option value='2.0'>2 </option>
                <option value='3.0'>3 </option>
                <option value='4.0'>4 </option>
            </select>
        </div>
        <div class="selectContainer">
            <div class="whiteText">Length: </div>

            <select id="rectangleWidth" ng-model="vm.rectangleLength" ng-class="{notSelected: rectangleWidth.length == 0}">
                <option value='LENGTH'>SELECT</option>
                <option value='.125'>1/8 </option>
                <option value='.15625'>5/32 </option>
                <option value='.1875'>3/16 </option>
                <option value='.21875'>7/32 </option>
                <option value='.25'>1/4 </option>
                <option value='.28125'>9/32 </option>
                <option value='.3125'>5/16 </option>
                <option value='.34375'>11/32 </option>
                <option value='.375'>3/8 </option>
                <option value='.40625'>13/32 </option>
                <option value='.4375'>7/16 </option>
                <option value='.46875'>15/32 </option>
                <option value='.5'>1/2 </option>
                <option value='.53125'>17/32 </option>
                <option value='.5625'>9/16 </option>
                <option value='.59375'>19/32 </option>
                <option value='.625'>5/8 </option>
                <option value='.65625'>21/32 </option>
                <option value='.6875'>11/16 </option>
                <option value='.71875'>23/32 </option>
                <option value='.75'>3/4 </option>
                <option value='.78125'>25/32 </option>
                <option value='.8125'>13/16</option>
                <option value='.875'>7/8 </option>
                <option value='.90625'>29/32 </option>
                <option value='.9375'>15/16 </option>
                <option value='.96875'>31/32 </option>
                <option value='1.0'>1 </option>
                <option value='1.03125'>1-1/32 </option>
                <option value='1.0625'>1-1/16 </option>
                <option value='1.09375'>1-3/32 </option>
                <option value='1.125'>1-1/8 </option>
                <option value='1.15625'>1-5/32 </option>
                <option value='1.1875'>1-3/16 </option>
                <option value='1.21875'>1-7/32 </option>
                <option value='1.25'>1-1/4 </option>
                <option value='1.28125'>1-9/32 </option>
                <option value='1.3125'>1-5/16 </option>
                <option value='1.34375'>1-11/32 </option>
                <option value='1.375'>1-3/8 </option>
                <option value='1.40625'>1-13/32 </option>
                <option value='1.4375'>1-7/16 </option>
                <option value='1.46875'>1-15/32 </option>
                <option value='1.5'>1-1/2 </option>
                <option value='1.53125'>1-17/32 </option>
                <option value='1.5625'>1-9/16 </option>
                <option value='1.75'>1-3/4 </option>
                <option value='2.0'>2 </option>
                <option value='3.0'>3 </option>
                <option value='4.0'>4 </option>
            </select>
        </div>
    </div>

    <div class="shapeSelection" ng-show="vm.shape == 'Hexagon'">
        <img src="./images/hexDiagonal.png" />
        <div class="hexInput yellowText">
            {{vm.hexagonSize}}
        </div>
        <div class="hexResult yellowText">
            {{vm.calcHexagon(vm.hexagonSize)}}
        </div>
        <div class="selectContainer">
            <div class="whiteText">Size:</div>
            <select id="rectangleWidth" ng-model="vm.hexagonSize">
                <option value='SIZE'>SELECT</option>
                <option value='.125'>1/8 </option>
                <option value='.15625'>5/32 </option>
                <option value='.1875'>3/16 </option>
                <option value='.21875'>7/32 </option>
                <option value='.25'>1/4 </option>
                <option value='.28125'>9/32 </option>
                <option value='.3125'>5/16 </option>
                <option value='.34375'>11/32 </option>
                <option value='.375'>3/8 </option>
                <option value='.40625'>13/32 </option>
                <option value='.4375'>7/16 </option>
                <option value='.46875'>15/32 </option>
                <option value='.5'>1/2 </option>
                <option value='.53125'>17/32 </option>
                <option value='.5625'>9/16 </option>
                <option value='.59375'>19/32 </option>
                <option value='.625'>5/8 </option>
                <option value='.65625'>21/32 </option>
                <option value='.6875'>11/16 </option>
                <option value='.71875'>23/32 </option>
                <option value='.75'>3/4 </option>
                <option value='.78125'>25/32 </option>
                <option value='.8125'>13/16</option>
                <option value='.875'>7/8 </option>
                <option value='.90625'>29/32 </option>
                <option value='.9375'>15/16 </option>
                <option value='.96875'>31/32 </option>
                <option value='1.0'>1 </option>
                <option value='1.03125'>1-1/32 </option>
                <option value='1.0625'>1-1/16 </option>
                <option value='1.09375'>1-3/32 </option>
                <option value='1.125'>1-1/8 </option>
                <option value='1.15625'>1-5/32 </option>
                <option value='1.1875'>1-3/16 </option>
                <option value='1.21875'>1-7/32 </option>
                <option value='1.25'>1-1/4 </option>
                <option value='1.28125'>1-9/32 </option>
                <option value='1.3125'>1-5/16 </option>
                <option value='1.34375'>1-11/32 </option>
                <option value='1.375'>1-3/8 </option>
                <option value='1.40625'>1-13/32 </option>
                <option value='1.4375'>1-7/16 </option>
                <option value='1.46875'>1-15/32 </option>
                <option value='1.5'>1-1/2 </option>
                <option value='1.53125'>1-17/32 </option>
                <option value='1.5625'>1-9/16 </option>
                <option value='1.75'>1-3/4 </option>
                <option value='2.0'>2 </option>
                <option value='3.0'>3 </option>
                <option value='4.0'>4 </option>
            </select>
        </div>
        
    </div>


    <div class="buttonContainer">
        <button onclick="window.location.href='#!/'">Home</button>
        <button onclick="window.location.href='#!/contact'">Contact Us</button>
    </div>
