.Label{
    color: gold;
    font-size: 18px;
    font-family:sans-serif;
}

.Result{
    color:white;
    font-size: 18px;
    font-family:sans-serif;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 12px;
}

button{
    color: white;
    background: #333;
    border-color: #666;
    border-radius: 6px;
    font-size: 16px;
    padding: 5px;
    width: 100px;
}

.fractionContainer{
    width:30%;
}

.optionContainer, .messageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
