div {
    color: gold;
    font-size: 20px;
    font-family: sans-serif;
}

input {
    border-radius: 12px;
    background: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    width: 75px;
    height: 25px;
}

button {
    color: white;
    background: #333;
    border-color: #666;
    border-radius: 6px;
    font-size: 16px;
    padding: 5px;
    width: 100px;
}

.fractionDiv {
    width: 30%;
}

.fractionContainer, .metricContainer, .decimalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.fractionTextDiv {
    text-align: center;
}

.buttonContainer{
    display:flex;
    justify-content:center;
    position: fixed;
    bottom: 5px;
    margin: auto;
    width: 100%;
}