html, body {
    height:100%;
    background-color: #3d3d3d; 
    padding: 0;
    margin: 0;
}

form .ng-invalid.ng-dirty {
    background-color: lightpink;
}

.qtyMissing {
    border-color: #990134 !important;
    border-width: 2px;
}

/*form .ng-valid.ng-dirty {
                background-color: lightgreen;
            }*/

span.summary.ng-invalid {
    color: red;
    font-weight: bold;
}

span.summary.ng-valid {
    color: green;
}

div.error {
    color: red;
    font-weight: bold;
}

/*.auto-style1 {
            width: 526px;
            height: 346px;
        }*/

.cartDivClass {
    border: 1px solid #888888;
}

.Tonnage_fltRight {
    float: right;
    width: 25%;
    text-align: right;
    margin: 0 5px;
}

.Tonnage_left_Indent {
    padding: 5px 10px 0 40px;
    height: 30px;
    background-color: #3d3d3d;
    border-bottom: dotted 1px #808080;
}

.Tonnage_left {
    padding: 5px 10px 0 10px;
    height: 30px;
    background-color: #3d3d3d;
    border-bottom: dotted 1px #808080;
}

.Material_Tonnage_Hdr {
    padding: 10px 10px 0 10px;
    height: 30px;
    background-color: #000000;
    color: #ffcc33;
}

.Material_Type {
    height: 30px;
    background-color: #3d3d3d;
    padding: 5px 0 0 10px;
}

h1 {
    font-family: Bitter, serif !important;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
}

ul li {
    list-style-type: none;
}

ul {
    margin-top: 0px !important;
    margin-left: -10px;
}

.logo{
    background:white;
    width:100%;
    padding-bottom: 5px;
}

.buttonContainer{
    display:flex;
    justify-content:center;
    position: fixed;
    bottom: 5px;
    margin: auto;
    width: 100%;
}

button {
    color: white;
    background: #333;
    border-color: #666;
    border-radius: 6px;
    font-size: 16px;
    padding: 5px;
    width: 100px;
}

hr{
    width:90%;
}